<div class="crossroad-container">
  <div class="crossroad-grid">
    <div class="crossroad-row">
      <div class="square grass"></div>
      <div class="square road"></div>
      <div class="square grass"></div>
    </div>
    <div class="crossroad-row">
      <div class="square road"></div>
      <div class="square road"></div>
      <div class="square road"></div>
    </div>
    <div class="crossroad-row">
      <div class="square grass"></div>
      <div class="square road"></div>
      <div class="square grass"></div>
    </div>
  </div>
</div>
