.crossroad-container {
  width: 100%;
  height: 100%;

  .crossroad-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aliceblue;

    .crossroad-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      height: 33.33%;

      .square {
        width: 33.33%;
        height: 100%;

        &.grass {
          background-color: darkolivegreen;
        }

        &.road {
          background-color: slategrey;
        }
      }
    }
  }

}
